<div class="event-unit" style="text-align:center;">

    <div class="event-head" style="height:20%;margin:0.3em;">
    {% if truncate %}
    <a href="{{event.get_absolute_url}}">{{event.title}}</a>
    {% else %}
    {{event.title}}
    {% endif %}    
    </div>

    <div style="background:#fff;height:10%;font-size:80%;margin: 0.3em;padding:0.3em;">
        {{event.start|date:'f A, F j, Y'}}
    </div>

    <div style="height:50%;padding:.25em;">
    {% if event.description %}
    {% if truncate %}
    {{ event.description|truncatewords:truncate }}
    {% else %}
    {{ event.description }}
    {% endif %}
    {% endif %}
    </div>

    {% if is_owner %}
    <div style="height:30px;width:50px; margin:0 auto;">
    <a href="{% url events_delete id=event.id %}"><img src="{{MEDIA_URL}}pinax/images/silk/icons/delete.png"></img></a>
    <a href="{% url events_change id=event.id %}"><img src="{{MEDIA_URL}}pinax/images/silk/icons/pencil.png"></img></a>
    </div>
    {% endif %}

</div>

