<div class="event-unit">

    <div class="event-head" style="height:8%;margin:0.1em;">
    {% if truncate %}
    <a href="{{event.get_absolute_url}}">{{event.title}}</a>
    {% else %}
    {{event.title}}
    {% endif %}    
    </div>

    <div style="background:#fff;height:10%;font-size:80%;margin: 0.1em;">
        {{event.start|date:'F j, Y, f A'}}
    </div>

    <div style="height:40%;padding:.25em;">
    {% if event.description %}
    {% if truncate %}
    {{ event.description|truncatewords:truncate }}
    {% else %}
    {{ event.description }}
    {% endif %}
    {% endif %}
    </div>

    {% if is_owner %}
    <div style="position:absolute; bottom:5px;height:1px;">
    <a href="{% url events_delete id=event.id %}"><img src="{{MEDIA_URL}}pinax/images/silk/icons/delete.png"></img></a>
    <a href="{% url events_change id=event.id %}"><img src="{{MEDIA_URL}}pinax/images/silk/icons/pencil.png"></img></a>
    </div>
    {% endif %}

</div>

