.ui-timepickr ol li.hour, 
.ui-timepickr ol li.minute, 
.ui-timepickr ol li.second { width:30px; }

/* system theme (default) */

span.ui-timepickr span {
    border-width:1px;
    border-style:solid;
    border-color:ThreeDLightShadow ThreeDShadow ThreeDShadow ThreeDLightShadow;
    color:ButtonText;
    background:ButtonFace;
}

span.ui-timepickr span.ui-state-hover {
    color:HighlightText;
    background:Highlight;
}
