 <link type="text/css" href="{{MEDIA_URL}}css/jquery-ui.css" rel="stylesheet" />
 <link type="text/css" href="{{MEDIA_URL}}css/ui.timepickr.css" rel="stylesheet" />

 <style>
     div#div_id_content_type { display:none; }
     div#div_id_object_id { display:none; }
     textarea#id_description { height:10em; }
     .uniForm .inlineLabels label, .uniForm .inlineLabels .label {
         margin:0.4em;
         width:100%;
     }
     input#id_start_1 { clear:right; float:left;width:60%; }
     input#id_start_0 { clear:left; float:left; width:60%;}
     input#id_title { width:70%; }
     .dialog .uniForm .inlineLabels textarea { width: 80%; }

 </style>

